.wrapper{

}
.trigger{
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
  padding-left: 2.4rem;
  background-color: var(--white-color);
  border: none;
  box-shadow: 0 0 9px 2px rgb(0 0 0 / 16%);
  border-radius: 1.2rem;
}
.text{
  font-size: 1.6rem;

  &:active {
    color: #17181A;
  }
}

.icon{
 padding-left: 5.8rem;
}