.root{
  width: 100%;
}
.calendar{
  width: 300px;
  padding: 16px 24px;

  font-family: inherit;
  font-size: 14px;
  line-height: 24px;
  color: #0d0b0c;

  background-color:#fffefe;
  border-color: #d9d7d8;
  border-radius: 4px;
}


.day{
  &:global(.react-datepicker__day--in-selecting-range) {
    background-color:#F0F8FE;
    border-radius: 0;
  }

  &:global(.react-datepicker__day--selecting-range-start) {

  }

  &:global(.react-datepicker__day--selecting-range-end) {

  }

  &:global(.react-datepicker__day--in-range) {
    background-color:#F0F8FE;
    border-radius: 0;
  }

  &:global(.react-datepicker__day--range-start) {
    color:  #fffefe;
    background-color:#45A1F6;
    background-image: radial-gradient(28px circle,#45A1F6 48%, transparent 51%);
    border-radius:14px;
  }

  &:global(.react-datepicker__day--range-end) {
    color:  #fffefe;
    background-color:#45A1F6;
    background-image: radial-gradient(28px circle,#45A1F6 48%, transparent 51%);
    border-radius:14px;
  }
}
.inputContainer{
  position: relative;
}
.icon{
  position: absolute;
  cursor: pointer;

  top: 12px;
  right: 0;
}
.input{
  width: 100%;
  height: 36px;
  padding: 7px 10px;

  font-size: 14px;
  line-height: 24px;
  color: black;

  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  outline: none;
}
.button{
  all: unset;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  border-radius: 2px;

  transition: 200ms background-color;

}
.buttonBox{
  display: flex;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
}