.footer {
  width: 100%;
  background-color: var(--black-color);
  color: var(--white-color);
}

.container {
  max-width: 120rem;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
}

.flexWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  padding-top: 2.4rem;
  padding-bottom: 2.5rem;
  gap: 2rem;
}
.logo{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;

  > span {
    font-size: 1.6rem;
  }
}
.block{
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  align-items: flex-start;
}
