.pagination {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  color: var(--color-dark-500);
}

.select {
  padding: 3px 2px  2px;
  background-color: transparent;
  color: var(--color-dark-500);
  line-height: var(--line-height-m);
  border: 1px solid var(--color-dark-500, #333);
  cursor: pointer;
  border-radius: 2px;
}

.pageButton {
  padding: 0 8px;
  line-height: var(--line-height-m);
  background: none;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: var(--color-accent-600);
    border-radius: 2px;
    transition: 0.4s;
    color: var(--color-light-500);
  }

  &:focus {
    outline: 2px solid var(--color-info-900, #234e99);
    border-radius: 2px;
  }
}

.active {
  color: var(--color-light-500);
  line-height: var(--line-height-m);
  background-color: var(--color-accent-600);
  border-radius: 2px;
  border: none;
  outline: none;
}

.prevButton,
.nextButton {
  font-size: var(--font-size-m);
  background: none;
  border: none;
  cursor: pointer;
}

.text1,
.text2 {
  color: var(--color-dark-500);
  font-size: 14px;
  line-height: var(--line-height-m);
}
