.chatAI{
  padding-top: 9rem;
  background-color: var(--bg-color);
}
.container{
  max-width: 120rem;
  width: 74%;
  min-height: 100%;
  margin: 0 auto;
  border: 1px solid red;
}
.flexWrapper{
  display: flex;
  flex-direction: column;
}
.askBlock{

}
.answerBlock{

}
.inputTitle{
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
}
.inp{
  width: 90%;
  padding-bottom: 2rem;
  margin-top: 0.8rem;
}
.you{
  font-size: 1.8rem;
  font-weight: 500;
}
.answer{

}