:root {
  // accent
  --color-accent-50: #F0F8FE;
  --color-accent-100: #E2F0FE;
  --color-accent-200: #BCDDFC;
  --color-accent-300: #90C7FA;
  --color-accent-400: #6AB4F8;
  --color-accent-500: #45A1F6;
  --color-accent-600: #3781C5;
  --color-accent-700: #296093;
  --color-accent-800: #214D76;
  --color-accent-900: #193A59;

  // success
  --color-success-50: #F1FAF3;
  --color-success-100: #E3F6E7;
  --color-success-200: #BFEAC9;
  --color-success-300: #95DCA5;
  --color-success-400: #71D186;
  --color-success-500: #4EC568;
  --color-success-600: #3E9E53;
  --color-success-700: #2E753E;
  --color-success-800: #255E32;
  --color-success-900: #1C4726;

  // danger
  --color-danger-50: #FDF8F0;
  --color-danger-100: #FBF1E1;
  --color-danger-200: #F7DEB9;
  --color-danger-300: #F1C98B;
  --color-danger-400: #EDB664;
  --color-danger-500: #E8A43D;
  --color-danger-600: #BA8331;
  --color-danger-700: #8A6224;
  --color-danger-800: #6F4E1D;
  --color-danger-900: #543B16;

  // error
  --color-error-50: #FCF0F0;
  --color-error-100: #F9E2E2;
  --color-error-200: #F2BBBB;
  --color-error-300: #E98F8F;
  --color-error-400: #E16969;
  --color-error-500: #DA4343;
  --color-error-600: #AE3636;
  --color-error-700: #822828;
  --color-error-800: #682020;
  --color-error-900: #4F1818;

  // gray
  --color-gray-50: #F6F6F8;
  --color-gray-100: #EDEEF0;
  --color-gray-200: #D5D7DD;
  --color-gray-300: #B9BDC7;
  --color-gray-400: #A1A7B4;
  --color-gray-500: #8A91A1;
  --color-gray-600: #6E7481;
  --color-gray-700: #525660;
  --color-gray-800: #42454D;
  --color-gray-900: #32343A;

  // light
  --color-light-500: #FFF;

  // dark
  --color-dark-500: #17181A;

}